/* line 5, /Users/jasonzahne/Desktop/Code/rails/taski/app/assets/stylesheets/pages.scss */
.homepage-projects p {
  font-size: 1.25em;
}
@font-face {
  font-family: "elvencommonspeak";
  src: url("/assets/elvencommonspeak");
}
/* line 6, /Users/jasonzahne/Desktop/Code/rails/taski/app/assets/stylesheets/styles.scss */
body {
  margin: 42px;
}

/* line 10, /Users/jasonzahne/Desktop/Code/rails/taski/app/assets/stylesheets/styles.scss */
h1 {
  font-family: "elvencommonspeak", Gadget, sans-seriff;
}

/* line 14, /Users/jasonzahne/Desktop/Code/rails/taski/app/assets/stylesheets/styles.scss */
p {
  font-family: "Lucida Sans Unicode", "Lucia Grande", sans-seriff;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */



