@font-face {
	font-family: "elvencommonspeak";
	src: url('/assets/elvencommonspeak');
}

body {
	margin:42px;
}

h1 {
	font-family: "elvencommonspeak", Gadget, sans-seriff;
}

p {
	font-family: "Lucida Sans Unicode", "Lucia Grande", sans-seriff;
}

